.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

<!-- everything below I added from the bootstrap site.  above is from the react template. -->

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

<!-- below here was straight out of boostrap sites index.html, above was from album.css -->

.subimages {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	height: 10%;
	}

.overimage {
	background-color: rgba(200, 200, 200, 0.5);
}

.small {
	height: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	line-height: 30%;
}

.smallButton {
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	height: 15px;
	width: 60px;
	color: rgba(170, 170, 170, 0.5);
}

.smallText {
	font-size: 0.7em;
	color: rgba(170, 170, 170, 0.5);
	padding: 2px;
}

.smallInput {
	width: 20%;
	padding: 2px;
	margin: 2px;
	box-sizing: border-box;
}


